.rooms-container {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 1200px;
  background: #ffffff;
  color: #193A6F;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #1e1e2f
}

.unit-button {
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  padding: 0.75rem 1.25rem;
  background-color: #193A6F;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  font-size: 16px;
}

.unit-button:hover {
  background-color: #767676;
}

.unit-input {
  padding: 0.65rem;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #f6f6f6;
  color: #1e1e2f;
  width: 100%;
  margin-top: 10px;
}

.unit-input::placeholder {
  color: #1e1e2f
}

.rooms-table-container {
  overflow-x: auto;
}

.rooms-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

.rooms-table th, .rooms-table td {
  padding: 0.75rem 1rem;
  text-align: left;
}

.rooms-table thead {
  background-color: white;
}

.rooms-table tbody tr {
  background-color: white;
  border-bottom: 1px solid #444;
}

.rooms-table tbody tr:hover {
  background-color: #dedede;
}

.rooms-table input {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #777;
  border-radius: 8px;
  background-color: #1a1a2a;
  color: #fff;
}

.rooms-table button {
  padding: 0.4rem 0.8rem;
  margin-right: 0.3rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.rooms-table button:hover {
  opacity: 0.85;
  
}

.rooms-table button:nth-child(1) {
  background-color: #39623c;
  color: white;
}

.rooms-table button:nth-child(2) {
  background-color: #b30d0d;
  color: white;
}

.error-message {
  color: #ff6b6b;
  background-color: #3a1e1e;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.success-message {
  color: white;
  background-color: #1e3a2d;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .rooms-table th, .rooms-table td {
    padding: 0.5rem;
  }

  .login-button {
    width: 100%;
    text-align: center;
  }
}
