.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .login-form {
    width: 100%;
    max-width: 520px;
    background: white;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .property-title {
    text-align: center;
    font-size: 38px;
    font-weight: bolder;
    color: #193A6F;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    text-align: center;
    color: #6b7280;
    margin-bottom: 2rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    margin-right: 30px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #4f46e5;
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
  }
  
  .forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 30px;
  }
  
  .forgot-password {
    font-size: 18px;
    color: #193A6F;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
    color: #cb3737;
  }

  .add-property-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 35px;
    padding: 12px 25px;
    background-color: #193A6F !important;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px 2px rgb(188, 188, 188);
    letter-spacing: 1px;
    width: 40%;
  }
  
  .add-property-button-auth:hover {
    background-color: #d69d17;
  }

  .add-property-button-auth:disabled {
    background-color: #a5b4fc;
    cursor: not-allowed;
  }
  
  .error-message-login {
    color: #ef4444;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 1.5rem;
    color: #6b7280;
  }
  
  .signup-anchor {
    color: #4f46e5;
    text-decoration: none;
  }
  
  .signup-anchor:hover {
    text-decoration: underline;
  }
  