.room-management-page {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 1200px;
  background: #ffffff;
  color: #193A6F;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.room-management-page h1 {
  text-align: center;
  font-size: 38px;
  font-weight: bolder;
  color: #193A6F;
  margin-bottom: 0.5rem;
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.room-card {
  padding: 1rem;
  border-radius: 8px;
  color: black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: white;
  outline: none;
  border-left: none;
}

.room-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.room-card h2 {
  margin-bottom: 0.5rem;
  color: black;
}

.room-card p {
  margin: 0.25rem 0;
}

.room-card label {
  display: block;
  margin-top: 0.75rem;
  font-weight: 500;
}

.room-card input[type="checkbox"] {
  margin-right: 0.5rem;
  transform: scale(1.2);
}