.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: none;
  padding: 2rem;
  margin-top: -150px;
}

.settings-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 2.5rem;
  width: 100%;
  max-width: 500px;
}

.settings-title {
  color: #193A6F;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bolder;
}

.user-info {
  margin-bottom: 2rem;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #edf2f7;
}

.info-row:last-child {
  border-bottom: none;
}

.info-label {
  color: #4a5568;
  font-weight: 500;
}

.info-value {
  color: #1a202c;
}

.capitalize {
  text-transform: capitalize;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.settings-button {
  padding: 10px 0;
  border-radius: 8px;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  flex: 1;
  justify-content: left;
}

.settings-button.primary {
  background-color: #193A6F;
  color: white;
  justify-content: center;
}

.settings-button.primary:hover {
  background-color: #d69d17;
}

@media (max-width: 600px) {
  .settings-card {
    padding: 1.5rem;
  }
  
  .actions {
    flex-direction: column;
  }
}