.task-dashboard {
  max-width: 1100px;
  margin: 120px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px #193A6F;
}



.task-card {
  border: 1px solid #ccc;
  border-left: 30px solid #193A6F; 
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.task-card.done {
  background-color: #e0ffe0;
  border-left: 5px solid #28a745;
  opacity: 0.85;
  transition: background-color 0.3s ease;
}

.task-card h4 {
  margin: 0 0 10px 0;
  color: #2c3e50;
}

.task-card p {
  margin: 6px 0;
}

.task-card button {
  margin-top: 10px;
  background-color: #193A6F;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.task-card button:hover {
  background-color: #324a7a;
}

.task-card.done button {
  background-color: #888; 
}

.task-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
